<h2 class="m-3">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field m-3 row w-50">
    <%= f.text_field :name, placeholder: "Password" %>
  </div>

  <div class="field m-3 row w-50">
    <%= f.text_field :photo, placeholder: "Photo" %>
  </div>

  <div class="field m-3 row w-50">
    <%= f.text_field :bio, placeholder: "Bio" %>
  </div>

  <div class="field m-3 row w-50">
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field m-3 row w-50">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password" %>
  </div>

  <div class="field m-3 row w-50">
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", autocomplete: "new-password" %>
  </div>

  <div class="actions m-3">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
