<div class="container m-5">
  <div class="row">
    <div class="col-3 border"> 
      <%= image_tag(@user.photo) %> 
    </div>
    <div class="col-8 offset-1 border">
      <h2> <%= @user.name %> </h2>
      <h6 class="d-flex justify-content-end"> Number of posts: <%= @user.posts_counter %> </h6>
    </div>
  </div>

  <div class="border mt-3 p-2">
    <p> <%= @user.bio %></p>
  </div>
  
  <% @user.fetch_three_recent_posts.each do |post| %>
    <div class="border mt-3 p-2">
      <h3> <%=post.title%> </h3>
      <p> <%=post.text%> </p>
      <h6 class="d-flex justify-content-end"> Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter%> </h6>
    </div>
  <% end %>

  <div class="d-flex justify-content-center mt-3 p-2">
    <button> See all posts </button>
  </div>
</div>
